@import url("http://fonts.googleapis.com/css?family=Tajawal");

@font-face {
  font-family: "Tajawal";
  src: url("../fonts/Tajawal-Regular.ttf");
}

@font-face {
  font-family: Tajawalb;
  src: url("../fonts/Tajawal-Bold.ttf");
}

.navbar-nav .nav-link {
  width: fit-content;
}
.section_col p {
  font-family: Tajawal;
}
body {
  background-color: #070707;
  overflow-x: hidden;
  font-family: "Tajawal" !important;
  cursor: default;
}
/*  Custome  Nav*/

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar {
  background-color: #141414;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 1s ease;
  border-bottom: 1px solid;
}
.links {
  margin-left: 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #ffffff;
  margin-left: 12px;
  margin-right: 12px;
  /*    font-size: 12px;*/
  font-size: x-small;
  font-weight: bold;

  padding-bottom: 12px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  transition: 0.2s ease-in-out;
  color: red;
}

.navbar-nav .active a {
  border-bottom: 2px solid red;
  color: red !important;
}

.navbar-nav:nth-last-child(1) .active a {
  border-bottom: 0;
}

.icons {
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 1px;
  cursor: pointer;
}

.fa-search {
  margin-right: 15px;
}
.navbar-toggler-icon {
  border: none;
}

button:focus {
  outline: 0px !important;
}

.navbar-brand {
  padding-top: 0px !important;
  width: 20%;
}

.logo {
  width: 28.4%;
}

.bar {
  color: #fff;
  width: 100% !important;
}

@media only screen and (max-width: 991px) {
  .nav-item {
    text-align: center;
  }
  .navbar-nav .nav-link {
    width: fit-content;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: auto;
    margin-right: auto;
  }

  .li_icons {
    display: inline;
  }

  .li_icons img {
    width: auto !important;
  }
  /* .svg-inline--fa.fa-w-14,
  .svg-inline--fa.fa-w-16 {
    width: 20%;
  } */

  .ul_icons {
    display: inline-block;
    margin-right: -30% !important;
    margin-left: 35%;
  }
  .icons {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }

  .logo {
    width: 80%;
  }
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .ul_icons {
    display: inline-block;
    margin-right: -30% !important;
    margin-left: 20%;
  }
}
@media only screen and (min-width: 1060px) and (max-width: 1100px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-brand {
    margin-right: 36px;
    margin-bottom: 0px;
  }

  .links {
    margin-right: -3.5%;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    margin-left: 10px;
    margin-right: 14px;
    font-size: 9px;
    /* font-weight: bold; */
    padding-bottom: 15px;
    letter-spacing: 1px;
    margin-top: 4px;
  }

  .ul_icons {
    margin-right: -3.5%;
  }

  .navbar {
    padding-right: 5.5%;
  }
  .icons {
    font-size: larger;
    margin-left: 3px;
  }
}
/* Home page Start */

/*     header         */

main {
  padding: 0 0 1px 0;
  position: relative;
  background: #070707;
  color: #fff;
  box-shadow: 0px -200px 78px 20px hsla(0, 0%, 0%, 0.61);
  /*     overflow: hidden;*/
  z-index: 200;
}

header {
  overflow: hidden;
  padding-bottom: 46%;
}

.video {
  padding-top: 1%;
  background-color: #141414;
}
.carousel-item {
  width: 100%;
}

.carousel-item img {
  width: 100%;
}

.contained {
  /*         box-shadow:  0px -20px 80px 20px #000;*/
  box-shadow: 0px 0px 65px 40px #141414;
}

header #demo {
  width: 100%;
  max-width: none;
  position: fixed;
  height: 80vh;
  margin-top: 3%;

  /*
      top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
*/
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  width: 3% !important;
  z-index: 5;
}

@media only screen and (min-width: 100px) and (max-width: 922px) {
  .contained {
    overflow: hidden;
  }
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  header {
    overflow: hidden;
    padding-bottom: 60%;
  }

  main {
    box-shadow: 15px -200px 78px 24px hsla(0, 0%, 0%, 0.32);
  }

  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 30vh;
    margin-top: 13% !important;
  }
  .Subjects_box p {
    height: 38px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  header {
    overflow: hidden;
    padding-bottom: 55%;
  }

  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 85vh;
    margin-top: 8%;
  }

  .contained {
    box-shadow: 0px 0px 40px 40px #141414;
  }
}
@media only screen and (min-width: 766px) and (max-width: 922px) {
  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 50vh;
    margin-top: 8%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 769px) {
  header {
    overflow: hidden;
    padding-bottom: 55%;
  }

  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 38vh;
  }

  .contained {
    box-shadow: 0px 0px 40px 40px #141414;
  }
}

@media only screen and (min-width: 923px) and (max-width: 1023px) {
  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 53vh;
  }
}
@media only screen and (max-width: 1125px) and (min-width: 1023px) {
  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 63vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px) and (orientation: landscape) {
  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 53vh;
  }

  .overlay_special {
    background-color: rgba(251, 251, 251, 0.29);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACCCAYAAAAt3qYGAAAACXBIW…NJSMGJJKTgRBJScCIJKTiRhBScSEIKTiQhBSeSkIITSej/AVYt3KIQpl8LAAAAAElFTkSuQmCC);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 15px;
    width: 82%;
    height: 100%;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 140px;
    /* font-size: 1.8em; */
    /* border-radius: 10px; */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px) and (orientation: portrait) {
  header #demo {
    width: 100%;
    max-width: none;
    position: fixed;
    height: 30vh;
  }
}

/* Vedio Section */

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.carousel-indicators {
  bottom: 23px !important;
}
.carousel-indicators .active {
  background-color: #fff;
}
.ads {
  width: 113px;
  height: 422px;
}
.ads_col {
  margin-top: 9.5%;
}
.box {
  border: 1px solid #000;
  text-align: center;
  background-color: #202020;
  overflow: hidden;
  direction: rtl;
}
.box_latestnews {
  margin-left: 9%;
  width: 90%;

  /*    margin-left: 15%;*/
}
.box_Live_time,
.box_Live_status1,
.box_Live_status2,
.box_Live_head {
  font-size: 8px;
  padding-top: 8px;
  height: 20px;
  overflow: hidden;
  margin-bottom: 6px;
}

.box_Live_head {
  margin-bottom: 0;
}

.box_Live_time {
  color: #c1c0c0;
}
.box_Live_status1 {
  margin-right: 23px;
  color: #86fb52;
}

.box_Live_status2 {
  margin-right: 20px;
  color: #eb7776;
}

.box_Live_row {
  background-color: #616161;
  margin-top: 0px;
  margin-bottom: 10px;
}
.box .new1 {
  height: 160px;
  /*    width: 270px;*/
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 6px;
  overflow: hidden;
}
.box .new3 {
  height: 150px;
  /*    width: 270px;*/
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 6px 0px 0px 0px;
  overflow: hidden;
}

.box .new2 {
  height: 80px;
  /*    width: 160px;*/
  display: inline-block;
  float: right;
  overflow: hidden;
}

.new_img {
  width: 100%;
  height: inherit;
}

.new_img2 {
  width: 100%;
  height: inherit;
}

.btn {
  padding: 0.275rem 1.75rem !important;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: #3f3f3f;
  border-radius: 0px;
  font-weight: bold;
}
.btn {
  padding: 1px 25px !important;
  font-size: smaller;
  height: 28px;
}
.btn:focus {
  box-shadow: none !important;
}

.box_Live_status {
  margin-bottom: 0px;
  direction: ltr;
}

.special_btn:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 480px) {
  .box_latestnews {
    margin-left: 0%;
    margin-bottom: 20px;
    width: 75%;
    margin-right: auto;
  }

  .box_Live {
    margin-left: 0;
    margin-bottom: 20px;
    width: 75%;
    margin-right: auto;
  }

  .special_btn {
    margin-bottom: -2%;
  }

  .box .new2 {
    overflow: inherit;
  }
  .box_Live_row .new_img2 {
    width: 114%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .box_latestnews {
    margin-left: 7%;
    margin-bottom: 20px;
    width: 60%;
    margin-right: auto;
  }
  .box_Live {
    margin-left: 7%;
    margin-bottom: 20px;
    width: 60%;
    margin-right: auto;
  }

  .special_btn {
    margin-bottom: -2%;
  }

  .content_second_section_2_col {
    padding-right: 0;
    padding-left: 3px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .box_latestnews,
  .box_Live {
    margin-left: auto;
    margin-bottom: 20px;
    width: 70%;
    margin-right: 26%;
  }

  .box .new1 {
    height: 300px;
  }

  .box_Live .new3 {
    height: 300px;
  }
  .box_Live_row .new2 {
    height: 140px;
  }

  .box_Live_time,
  .box_Live_status1,
  .box_Live_status2,
  .box_Live_head {
    font-size: 25px;
    padding-top: 8px;
    height: 65px;
    overflow: hidden;
    margin-bottom: 6px;
  }

  .btn {
    padding: 1px 35px !important;
    font-size: smaller;
    height: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .box_Live .new_img {
    width: 108%;
  }

  .content_second_section_1 .new_img {
    width: 99.5%;
    height: 284px;
  }

  .box .new2 {
    height: 69px;
    overflow: inherit;
  }

  .box_Live_row {
    margin-bottom: 6px;
  }
  .box .new3,
  .box .new1 {
    height: 137px;
  }

  .Program_Schedule .box .new5 {
    height: 150px !important;
  }

  .box_Live_row .new_img2 {
    width: 114%;
    height: inherit;
    float: right;
  }

  .box .new3 {
    overflow: inherit;
  }

  .box_Live div:nth-child(2) {
    /*     padding-right: 0px;*/
    text-align: right;
  }

  .box_Live {
    padding-left: 0px;
    width: 157%;
    margin-left: 14%;
  }

  .mixtup_container_rows .new2 {
    height: 132px;
  }

  .mixtup_container_rows .new2 .new_img2 {
    width: 106%;
    margin-left: -6%;
  }

  .box_latestnews {
    margin-left: -36%;
    width: 175%;
    /* margin-left: 15%; */
  }

  .new4 {
    height: 51px !important;
  }

  .box_Live_row .new_img3 {
    width: 113%;
    height: inherit;
  }

  .content_second_section_2_col {
    padding-left: 0px;
  }

  .mixtup_container_controls {
    width: 126%;
    margin-left: -16%;
  }

  .mixtup_container_controls .mixitup-control-active {
    color: red !important;
  }
  .mixtup_container_rows {
    width: 120%;
    margin-left: -10%;
  }
}

.content_second_section_2 .box_Live_row p {
  height: 3em;
  font-size: 10px;
  text-align: right;
  overflow: hidden;
  margin-bottom: 0px;
  line-height: 1.6em;
  margin-top: 10px;
  padding-left: 1px;
}
.content_second_section_2 .box_Live_row {
  background-color: #141414;
  margin-top: 0px;
  margin-bottom: 0px;
  direction: rtl;
  border: 2px solid #262626;
  margin-left: 2px;
}

.box_Live_row {
  margin-right: 0%;
}

.content_second_section_1 p {
  direction: rtl;
  text-align: right;
  height: 3em;
  overflow: hidden;
  font-size: smaller;
  line-height: 16px;
  margin-bottom: 0px;
}

/* second_section */

.second_section {
  /*    margin-left: 15px;*/

  background-color: #262626;
  width: 90%;
  margin-left: 3.5%;
  direction: rtl;
}

.content_second_section_1_col {
  padding-right: 3px;
  padding-left: 3px;
}

.content_second_section_1 {
  margin-top: 5px;
}

.content_second_section_1 p {
  direction: rtl;
  text-align: right;
  font-size: small;
  height: 3em;
  overflow: hidden;
}

.new_img3 {
  width: 100%;
  height: inherit;
}

.new4 {
  height: 51px;
}

.section_bar {
  transform: rotate(90deg);
  font-size: 2rem;
  vertical-align: middle;
}

.section_col {
  direction: rtl;
  text-align: right;
  width: 95%;
  margin-top: 1%;
  margin-left: -1%;
  margin-bottom: 1%;
}

.second_section_description {
  padding-right: 0;
}

.section_col p {
  margin-bottom: 0px;
  display: inline;
  font-size: 1.1rem;

  border-right: 6px solid #fff;
  padding-right: 10px;
}
.content_second_section_2_col {
  padding-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 2000px) {
  /*
    .box_Live_status {
    margin-bottom: 0px;
    direction: ltr;
    margin-right: -50%;
        font-size: 8px;
    }
*/

  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 8px;
  }

  /*
       .box_Live_head {
 
    margin-right: -50%;
        font-size: 8px;
    }
   
*/

  .second_section {
    /* margin-left: 15px; */
    background-color: #262626;
    width: 115%;
    margin-left: -7.5%;
    direction: rtl;
  }
}

@media only screen and (min-width: 900px) and (max-width: 991px) {
  .section_col {
    width: 94% !important;
  }

  .content_second_section_2 .box_Live_row {
    margin-left: -12px;
    margin-bottom: 1.5%;
  }
}

@media only screen and (max-width: 605px) {
  .footer_icons,
  .footer_dev,
  .footer_copy {
    text-align: center !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .second_section {
    width: 88%;
    margin-left: 7%;
  }

  .new4 {
    height: 120px;
  }

  .content_second_section_2 .box_Live_row p {
    height: 3em;
    font-size: 1.1rem;
    text-align: right;
    overflow: hidden;
    line-height: 1.6em;
    margin-top: 10px;
  }
  .content_second_section_1 p {
    direction: rtl;
    text-align: right;
    height: 4em;
    overflow: hidden;
    font-size: x-large;
    text-align: center;
    margin-top: 5px;
    line-height: 26px;
  }

  .section_col p {
    font-size: 2.1rem;
  }
  .section_col2 p {
    font-size: 2.1rem !important;
  }
  .special_btn {
    margin-bottom: -2%;
  }

  .section_col {
    width: 96% !important;
  }

  .content_second_section_2 .box_Live_row {
    margin-right: 15px;
  }
  .content_second_section_1 {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .second_section {
    background-color: #262626;
    width: 73%;
    margin-left: 11.8%;
    direction: rtl;
  }
  .box_Live_row .row {
    flex-wrap: inherit !important;
  }

  .content_second_section_1 p {
    text-align: center;
    margin-top: 5px;
    line-height: 18px;
  }
  .content_second_section_2 .box_Live_row {
    margin-right: 5px;
  }
  .content_second_section_1_col {
    padding-right: 5px;
  }

  .section_col {
    direction: rtl;
    text-align: right;
    width: 87% !important;
    margin-top: 1%;
    margin-left: -1%;
    margin-bottom: 1%;
  }
  .content_second_section_1 {
    padding-left: 5px;
  }

  .box_latestnews .new1,
  .box_Live .new3 {
    height: 210px;
  }

  .box_Live_time,
  .box_Live_status1,
  .box_Live_status2,
  .box_Live_head {
    font-size: 13px;
    padding-top: 8px;
    height: 37px;
    overflow: hidden;
    margin-bottom: 6px;
  }

  .box_Live_row .new2 {
    height: 100px !important;
  }
  .box_Live_row .new4 {
    height: 80px !important;
  }

  .footer_icons {
    margin-top: -4px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 480px) {
  .box_Live_time,
  .box_Live_status1,
  .box_Live_status2,
  .box_Live_head {
    font-size: 12px;
    padding-top: 8px;
    height: 28px;
    /* overflow: hidden; */
    margin-bottom: 6px;
  }
  .section_col2 {
    margin-top: 5% !important;
  }
  .content_second_section_1_col {
    padding-right: 5px;
  }

  .second_section_description {
    margin-top: 2px;
  }
  .content_second_section_2_col {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
  }

  .second_section {
    background-color: #262626;
    width: 91%;
    margin-left: 3.8%;
    direction: rtl;
  }

  .content_second_section_1 p {
    direction: rtl;
    text-align: right;
    height: 3em;
    overflow: hidden;
    margin-top: 2%;
    text-align: center;
    font-size: smaller;
    line-height: 21px;
  }
  .box_Live_row .row {
    flex-wrap: inherit !important;
  }

  .section_col2,
  .section_col {
    width: 95% !important;
  }
  .content_second_section_1 {
    padding-left: 5px;
  }

  .box_Live_row .new4 {
    height: 80px !important;
  }
}

/* slick slider Sport 1*/

.rio-promos {
  width: 85%;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next {
  position: absolute;
  top: 42%;
  right: -6%;
  width: 30px;
  height: 58px;
  background-image: url(../imgs/arrow_right.png);
  background-size: 30px;
}

button.slick-next:hover {
  background-image: url(../imgs/arrow_right_red.png);
  transition: 0.8 ease;
}

button.slick-prev {
  position: absolute;
  top: 26%;
  left: -6%;
  z-index: 1;
  width: 30px;
  height: 58px;
  background-image: url(../imgs/arrow_right.png);
  background-size: 30px;
  transform: rotate(180deg);
  transition: 0.8 ease;
}

button.slick-prev:hover {
  /* background-size: 24px;
  width: 24px;
  height: 47px;
  top: 31%;
  transition: 0.8 ease; */
  transform: rotate(180deg);
  background-image: url(../imgs/arrow_right_red.png);

  transition: 0.8 ease;
}

.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}
.rio-promos .sports_box {
  /*  height: 150px;*/
  /*    width: 220px !important;*/
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  border-radius: 10px;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
  cursor: pointer;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff
    url("http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif")
    center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.slick-slide {
}

.slick-slide .slick-active {
  display: block !important;
}

.slick-slide [aria-hidden="true"] {
  display: none !important;
}

.section_col2 {
  width: 78%;
  direction: rtl;
  text-align: right;
  /* background-color: #141414; */
  margin-top: 1%;
  margin-left: -1%;
  margin-bottom: 1%;
}

.section_col2_row {
  background-color: #141414;
  margin-top: -1.5%;
}
.section_col2 p {
  margin-bottom: 0px;
  display: inline;
  font-size: 1.1rem;
  border-right: 6px solid #fff;
  padding-right: 10px;
}

.slick_slider_sport {
  background-color: #070707;
  padding-top: 2.2%;
  padding-bottom: 0.1%;
}
.section_col2_empty {
  margin-top: 0px;
  height: 20px;
}
.rio-promos img {
  width: 100%;
  height: 130px;
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  button.slick-prev {
    position: absolute;
    top: 33%;
    left: -20%;
    z-index: 1;
    width: 30px;
    height: 58px;
    background-image: url(../imgs/arrow_right.png);
    background-size: 30px;
    transform: rotate(180deg);
  }
  button.slick-prev:hover {
    transform: rotate(180deg);
    background-image: url(../imgs/arrow_right_red.png);

    transition: 0.6 ease;
  }

  button.slick-next {
    position: absolute;
    top: 46%;
    right: -20%;
    width: 30px;
    height: 58px;
    background-image: url(../imgs/arrow_right.png);
    background-size: 30px;
  }

  button.slick-next:hover {
    background-image: url(../imgs/arrow_right_red.png);
    transition: 0.6 ease;
  }
  .btn .special_btn {
    margin-bottom: -6%;
  }

  .rio-promos {
    width: 60%;
    margin-top: 4%;
  }

  .rio-promos .sports_box {
    width: 215px !important;
  }
}
@media only screen and (max-width: 360px) {
  .rio-promos .sports_box {
    width: 182px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 599px) {
  .rio-promos {
    width: 68%;
  }

  button.slick-prev,
  button.slick-prev:hover {
    left: -11%;
  }

  button.slick-next,
  button.slick-next:hover {
    right: -11%;
  }

  .rio-promos .sports_box {
    width: 217px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 666px) {
  button.slick-prev,
  button.slick-prev:hover {
    left: -11%;
  }

  button.slick-next,
  button.slick-next:hover {
    right: -11%;
  }
  .rio-promos {
    width: 68%;
  }

  .rio-promos .sports_box {
    width: 188px !important;
  }
}
@media only screen and (min-width: 667px) and (max-width: 700px) {
  button.slick-prev,
  button.slick-prev:hover {
    left: -11%;
  }

  button.slick-next,
  button.slick-next:hover {
    right: -11%;
  }
  .rio-promos {
    width: 68%;
  }

  .rio-promos .sports_box {
    width: 142px !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 736px) {
  .rio-promos .sports_box {
    width: 184px !important;
  }

  .section_col2 {
    width: 81%;
  }
}
@media only screen and (min-width: 737px) and (max-width: 825px) {
  .rio-promos .sports_box {
    width: 184px !important;
  }

  .section_col2 {
    width: 88%;
  }

  .mixtup_container_rows .container {
    max-width: inherit !important;
  }

  .Program_Schedule .special {
    margin-left: 0% !important;
    margin-right: -44% !important;
  }
}

.date {
  float: right;
  text-decoration: underline;
}
.time {
  color: #ccc;
}

.sports_box_text_content {
  font-size: small;
  direction: rtl;
  text-align: right;
  float: right;
  height: 3em;
  overflow: hidden;
}
/* End slick slider Sport 1*/

/*  ألبرامج  */

.section_col3 p {
  margin-bottom: 0px;
  display: inline;
  font-size: 1rem;
  border-right: none;
  padding-right: 10px;
  font-weight: bold;
}

/* Foooooooooter */

.footer {
  background-color: #141414;
  padding-top: 15px;
  margin-top: -22px;
  border-top: 2px solid #262626;
}

.footer_map {
  direction: rtl;
  text-align: right;
}

.footer_map div:nth-child(1) {
  width: 70%;
  float: left;
}
.footer_map p:nth-child(1) {
  font-weight: bold;
  text-decoration: underline;
  cursor: default;

  font-size: initial;
}
.footer_map p:nth-child(2) a {
  color: #fff;
  margin-left: 4%;
  font-size: x-small;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
}

.footer_map p:nth-child(2) a:hover {
  color: red;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
}

.footer_apps {
  text-align: center;
}
.footer_apps p:nth-child(1) {
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
  font-size: initial;
}

.footer_apps img {
  width: 76px;
  cursor: pointer;
  height: 24px;
  margin-left: 7px;
}
.footer_apps img:hover {
  width: 65px;
  height: 20px;
  transition: 0.4s ease-in-out;
  margin-left: 18px;
}
.footer hr {
  height: 0px;
  width: 100%;
  border-top: 1px solid rgb(66, 66, 66);
}

.footer_icons img {
  border-radius: 3px;
  margin-left: 13px;
  width: 17px;
  margin-top: -5px;
}

.footer_icons {
  padding-right: 5%;
  text-align: right;
}

.footer_dev {
  font-size: x-small;
  text-align: center;
  font-weight: 100;
  cursor: default;
  color: #d0cdcd;
}

.footer_copy {
  color: #d0cdcd;
  font-size: x-small;
  text-align: left;
  cursor: default;
}

.footer_row_p2 {
  margin-right: 1%;
}

.footer_map p .active {
  color: red !important;
  text-decoration: underline;
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .footer_map div:nth-child(1) {
    width: 98%;
    float: left;
    text-align: center;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 922px) {
  .footer_map div:nth-child(1) {
    width: 80%;
  }
}

/* Home Page End */

/* LiveBroadcast page start */

.live_broadcast_row {
  margin-top: -2.5%;
}

.live_broadcast_row .new_img2 {
  width: 120%;
}
.live_broadcast {
  height: 440px;
  margin-top: 19.8%;
}

.live_broadcast_text {
  line-height: 0px;
  margin-top: 8px;
  margin-bottom: 22px;
}

.share_word {
  overflow: hidden;
  font-size: small;
  color: #000 !important;
  margin-bottom: -1px;
  padding: 5px;
  float: right;
  font-weight: bold;
  height: auto !important;
}
@media only screen and (min-width: 310px) {
  .live_broadcast {
    margin-left: -9%;
    margin-right: 10.5%;
  }
}

@media only screen and (max-width: 922px) {
  .live_broadcast {
    height: auto;
    /*        margin-top: 25%;*/
    padding-left: 8%;
    padding-right: 6%;
  }
}
/* LiveBroadcast page End */

/* Program Schedule1 page start */

.Program_Schedule {
  margin-top: 2%;
}

.Program_Schedule_row {
  padding-top: 2%;
  padding-bottom: 4%;
}
.Program_Schedule_row .ads_col {
  margin-top: 1%;
}

.Program_Schedule .box .new2 {
  height: 72px;
}

.Program_Schedule .controls {
  direction: rtl;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 1.9%;
}

.Program_Schedule .controls button {
  background-color: #202020;
  color: #fff;
  border: none;
  /* width: 10%; */
  padding: 6px 17px;
  margin-left: 4.88%;
  cursor: pointer;
  margin-top: 7px;
  font-weight: bold;
  font-size: smaller;
  border-radius: 8px;
}

.Program_Schedule .container {
  margin-bottom: 6%;
}

.Program_Schedule .controls button:hover,
.Program_Schedule .controls button:focus {
  color: red;
  transition: 0.3s ease;
}

.Program_Schedule_row .mix {
  padding: 10px;
  margin-bottom: 13px;
  background-color: #202020;
}

.Program_Schedule_row .videos_box_serach,
.Program_Schedule_row .Subjects_box_search {
  background-color: unset;
}

.Program_Schedule_row .videos_box_serach {
  display: inline-block;
  padding: inherit;
}

.Program_Schedule_row_special .mix {
  background-color: #202020;
}

.mix_programme_name {
  float: right;
  text-align: right;
}

.mix_programme_name h5 {
  font-weight: bold;
  font-size: medium;
  letter-spacing: 1px;
  text-decoration: underline;
}

.mix_programme_name h5:hover {
  color: red;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.mixtup_container_rows .new2 {
  cursor: pointer;
}
.mix_programme_name p {
  color: #b35959;
}
.mix_programme_time h5 {
  margin-top: 10%;
  display: inline-block;
  color: #ccc;
  font-size: large;
  margin-left: 5%;
  cursor: default;
}
.mixtup_container_rows .clock {
  margin-bottom: 5px;
  margin-left: 5px;
}

.mix a,
.mix a:hover {
  color: unset;
  text-decoration: none;
}

@media only screen and (min-width: 100px) and (max-width: 922px) {
  .Program_Schedule {
    margin-top: 11%;
  }

  .section_col {
    direction: rtl;
    text-align: right;
    width: 95%;
    margin-top: 1%;
    margin-left: -1%;
    margin-bottom: 1%;
  }

  .Program_Schedule .controls {
    text-align: center;
  }

  .Program_Schedule2 .special {
    margin-right: 0% !important;
  }

  .footer {
    margin-top: 0px;
  }

  .OurProgram .special {
    margin-right: 0% !important;

    padding-right: 3%;
    padding-left: 3%;
  }

  .OurProgram_desciption h5 {
    text-align: center !important;
  }

  .Subjects .special {
    margin-right: 0% !important;
    width: 100% !important;
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .Program_Schedule .controls button {
    background-color: #202020;
    color: #fff;
    border: none;
    /* width: 10%; */
    padding: 6px 17px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 7px;
    font-weight: bold;
    font-size: large;
  }

  .mix_programme_time h5 {
    margin-top: 0%;
    display: inline-block;
    color: #ccc;
    font-size: large;
    margin-left: 0%;
  }

  .Program_Schedule .controls {
    padding-right: 0;
  }

  .mixtup_container_controls_search {
    margin-top: 24%;
  }

  .controls_search .filter {
    margin-left: 1%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 788px) {
  .controls_search .filter {
    margin-left: 1%;
  }
  .mixtup_container_rows .container {
    padding-right: 26px;
    padding-left: 17px;
    max-width: 590px;
  }
  .Program_Schedule .controls button {
    background-color: #202020;
    color: #fff;
    border: none;
    /* width: 10%; */
    padding: 6px 15px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 7px;
    font-weight: bold;
    font-size: medium;
  }
}

/* Program Schedule1 page end */

/* Program Schedule2 page start */

.Program_Schedule2_description p {
  color: #ccc;
  font-size: small;
  line-height: 22px;
}

.Program_Schedule2_description h6 {
  font-size: small;
}

.Program_Schedule2_description h4 {
  text-decoration: underline;
  font-size: medium;
  font-weight: 600;
}

.Program_Schedule2_description {
  text-align: right;
  direction: rtl;
}

.share_icons {
  border-radius: 10px;
  float: left;
}

.Program_Schedule2_row .section_col2 {
  width: 100%;
}

.Program_Schedule2_desciption2 {
  text-align: right;
  direction: rtl;
}

.Program_Schedule2_row {
  margin-top: -1.5%;
  padding-bottom: 3%;
}

.Program_Schedule2_row .ads_col {
  margin-top: 6%;
}

.Program_Schedule2_desciption2 h5 {
  text-decoration: underline;
}
.Program_Schedule2_desciption2 p {
  line-height: 23px;
  height: 3em;
  overflow: hidden;
}

.Program_Schedule2 a,
.Program_Schedule2 a:hover {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 922px) {
  .Program_Schedule2_row row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .Program_Schedule2_row {
    margin-top: 0;
  }

  .video {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Program Schedule2 page end */
/* OurProgram page start */
.OurProgram_row {
  margin-top: -8%;

  padding-bottom: 3%;
}

.OurProgram .section_col2 {
  width: 100%;
  background-color: transparent;
}

.OurProgram_row .ads_col {
  margin-top: 4%;
}

.OurProgram_desciption h5 {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: initial;
  font-weight: 600;
  letter-spacing: 1px;
}
.OurProgram a,
.OurProgram a:hover {
  color: unset;
  text-decoration: none;
}

@media only screen and (min-width: 922px) {
  .OurProgram .special {
    width: 123%;
    margin-left: -13%;
    text-align: end;
  }
  .OurProgram .new_img2 {
    width: 90%;
    height: 210px;
  }

  .OurProgram .section_col2 p {
    margin-bottom: 0px;
    display: inline;
    font-size: 1.1rem;
    border-right: 6px solid #fff;
    padding-right: 10px;
    margin-right: 1%;
  }

  .Subjects_box_search_row {
    width: 107%;
  }

  .videos_box iframe {
    width: 108% !important;
  }
  .videos {
    width: 108%;
  }
}

@media only screen and (max-width: 922px) {
  .OurProgram_row row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .Subjects_box {
    padding-left: 15px;
  }
}

/* OurProgram page End */
/* Subjects page start */
.carousel_sports {
  width: 120% !important;
}

.Subjects {
  margin-top: -2%;
}
.Subjects .special {
  width: 112%;
  margin-left: -6%;
}

.Subjects_row {
  margin-top: 6%;
  padding-bottom: 3%;
}

.Subjects_box {
  border-bottom: 2px solid #474747;
  text-align: right;
  padding-bottom: 8px;
  margin-top: 10px;
}

.Subjects_box:nth-last-child(1) {
  border-bottom: 0px;
}

.share_icons {
  float: left;
  border-radius: 6px;
}
.share_icons img {
  cursor: pointer;
}

.Subjects_box p {
  height: 3em;
  overflow: hidden;
  font-size: small;
  color: #ccc;
  cursor: default;
}

.Subjects_row .ads_col {
  margin-top: -2%;
}

.Subjects_box h4 {
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}
.Subjects_box h4:focus {
  outline: none;
}
.Subjects_box h4:hover {
  text-decoration: underline;
  color: red;
  transition: 0.8s ease-in-out;
}

.Subjects_box h6 {
  font-size: x-small;
  color: #ccc;
  cursor: default;
}

@media only screen and (min-width: 922px) {
  .carousel_sports .new_img2 {
    height: 460px;
  }

  .Subjects_box .new_img2 {
    margin-left: -20%;
    width: 130%;
    height: 122px;
  }

  .Subjects_box div:nth-child(1) {
    padding-right: 4%;
    padding-left: 0px;
  }

  .Subjects .live_broadcast {
    margin-top: 0;
    height: 460px;
  }
}

/* Subjects page start */

/* Subjects2 page start */

.Subjects_description {
  text-align: right;
  margin-top: 15px;
}

.share_icons {
  float: left;
  background-color: #fff;
}
.share_icons share-button {
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 3px;
}

.Subjects .section_col2 {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.Subjects_description p {
  color: #bebdbd;
  font-size: small;
}

.Subjects_description h6 {
  font-weight: bold;
  color: #fff;
  font-size: smaller;
}

.Subjects_description h4 {
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.Subjects_description p:nth-child(4) {
  /* height: 15em; */
  overflow: hidden;
  width: 100%;
  line-height: 20px;
}

.Subjects .new1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: -3%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 922px) {
  .Subjects .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .Subjects_description p {
    margin-right: 5px;
  }

  .Subjects_row {
    margin-top: 15%;
  }

  .Subjects2_row {
    margin-top: 0 !important;
  }

  .Subjects2_row .Subjects_box .new_img2 {
    width: 100%;
  }
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .Subjects_box {
    padding-left: 0 !important;
  }

  .Subjects .row {
    margin-left: -25px;
    margin-right: 0px;
    width: 116%;
  }
  .Subjects_box h4 {
    text-decoration: underline;
    /* font-size: x-large; */
    font-weight: bold;
  }
  .Subjects_box p {
    font-size: medium;
    cursor: default;
  }

  .Subjects_description {
    width: 105%;
  }
  .Subjects_description p {
    margin-right: 0px;
  }

  .Subjects .section_col2 {
    width: 106% !important;
  }

  .Subjects_description h6 {
    font-size: large;
  }

  .Subjects_description p {
    font-size: smaller;
  }

  .live_broadcast {
    padding-left: 7%;
    padding-right: 4.7%;
  }
  .Subjects .special {
    padding-left: 2%;
  }
}
/* Subjects2 page end */

/* videos page start */

.videos_row {
  margin-top: -1%;
}
.videos {
  margin-top: 3.5%;
}
.videos h5 {
  margin-bottom: 0;
}
.videos p {
  height: 3em;
  overflow: hidden;
  text-align: right;
  line-height: 20px;
  color: #bebdbd;
  font-size: smaller;
}

@media only screen and (min-width: 922px) {
  .videos .new_img2 {
    width: 98%;
    height: 131px;
  }

  .videos .special {
    width: 121%;
    margin-left: -12%;
    text-align: end;
  }

  .Program_Schedule2 .new_img2 {
    width: 98%;
    height: 131px;
  }

  .Program_Schedule2 .special {
    width: 121%;
    margin-left: -12%;
    text-align: end;
  }

  .Program_Schedule2 .special1 {
    width: 118%;
    margin-left: -10%;
    text-align: right;
  }
  .Program_Schedule2 .section_col2 {
    direction: rtl;
    text-align: right;
    /* background-color: #141414; */
    margin-top: 1%;
    margin-left: -2%;
    margin-bottom: 4%;
  }
}
.videos .section_col2 {
  margin-bottom: 2%;
}

@media only screen and (max-width: 922px) {
  .videos_row {
    margin-top: 15%;
  }

  .videos_row .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .Program_Schedule2_row .section_col2 {
    width: 100% !important;
  }

  .videos {
    margin-top: 10.5% !important;
  }
  .videos_box .videos {
    margin-top: 0 !important;
  }
  .videos p {
    height: 3em;
    overflow: hidden;
    text-align: center;
    line-height: 26px;
    color: #bebdbd;
    font-size: larger;
  }

  .videos_box {
    padding-right: 0px;
    padding-left: 0px;
  }

  .videos .section_col2 {
    width: 100% !important;
  }
  .section_col2 p {
    font-size: 1.4rem;
  }
}

/* videos page end */

/* about page start */
.about_logo .new_img2 {
  width: 29%;
  margin-bottom: 3%;
}

.about_logo {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 2%;
}

.about_row .ads_col {
  margin-top: 5%;
}

.about_row {
  padding-bottom: 3%;
}

.about ul {
  list-style: none;
  text-align: right;
  direction: rtl;
  color: #bebdbd;
}
.about .fa-arrow-circle-up {
  transform: rotate(270deg);
  margin-left: 5px;
}

.about p {
  text-align: right;
  font-weight: bold;
  font-size: smaller;
  letter-spacing: 1px;
  color: #ccc;
}

.about .row {
  text-align: center;
  margin-top: 2%;
}

.about .about_box {
  font-weight: bold;
  background-color: #5b5b5b;

  padding-bottom: 3px;
  padding-top: 3px;
  font-size: initial;
  margin-left: auto;
  margin-right: auto;
}

.about .row p {
  width: 90%;
  padding-bottom: 7px;
  padding-top: 5px;
  font-size: small;
  text-align: center;
  height: 6em;
  line-height: 18px;
  overflow: hidden;
  color: #bebdbd;
  margin-left: auto;
  margin-right: auto;
}

.about h1 {
  text-align: right;
  border-bottom: 1px solid;
  width: initial;
  float: right;
  font-weight: bold;
}

.about ul li {
  margin-bottom: 7px;
}
.about ul li img {
  margin-left: 15px;
}

@media only screen and (max-width: 922px) {
  .about_logo {
    margin-top: 15%;
  }

  .about .fa-arrow-circle-up {
    width: auto;
    margin-right: -5%;
  }

  .special {
    margin-left: 0% !important;
    margin-right: -30% !important;
  }
}
.section_col {
  direction: rtl;
  text-align: right;
  width: 107%;
  margin-top: 1%;
  margin-left: -1%;
  margin-bottom: 1%;
}

@media only screen and (min-width: 922px) {
  .about .special {
    width: 115%;
    margin-left: -7.5%;
  }
  .team_detail .member_img_col {
    margin: auto;
    order: 2;
    text-align: center;
  }

  .ul_icons .li_icons a img:hover {
    width: 65% !important;

    cursor: pointer !important;

    transition: 0.5s ease !important;
  }
}

/* about page start */

/* contact page start */

.contact {
  margin-top: 13%;
}

.contact_row .special {
  width: 102.5%;
  margin-left: -1.5%;
}

.contact_row {
  margin-top: -3%;
  padding-bottom: 6%;
}

.contact_box {
  font-size: smaller !important ;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.contact h3 {
  text-align: right;
  border-bottom: 1px solid;
  width: initial;
  float: right;
  font-weight: bold;
}

.contact_box1 {
  border: 1px solid #5b5b5b;
  padding: 20px 30px 17px 10px;
  text-align: right;
  margin-bottom: 30px;
  line-height: 25px;
}

.about_box .fa-phone,
.about_box .fa-home,
.about_box .fa-envelope .contact_box1 p {
  text-align: right;
  font-weight: bold;
  font-size: smaller;
  letter-spacing: 0.5px;
  color: #fff;
}
.contact_box1 {
}
.about_box .fa-phone,
.about_box .fa-home,
.about_box .fa-envelope {
  float: left;
  margin-left: 10%;
  font-size: large !important;
}

.contact_box1 .fa-phone,
.contact_box1 .fa-home,
.contact_box1 .fa-envelope {
  margin-right: 5px;
}

/* contact page end */

/* team page start */
.team {
  margin-top: 4%;
}

.team_row {
  margin-top: 1%;
  padding-bottom: 1%;
}

.team_row .special {
  width: 120%;
  margin-left: -10%;
}
.team .new_img4 {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid #fff;
}

.team .row {
  text-align: center;
}

.team .OurProgram_desciption h5 {
  text-align: center;
  color: #bd3e3e;
  text-decoration: underline;
  font-weight: bold;
}
.team .videos p {
  text-align: center;
}
.team .OurProgram_desciption {
  text-align: center;
}

/* team page end */

/* search page start */
.search_item a img {
  box-shadow: 0 0 20px 7px #262626;
  background-color: #262626;
}
.search_row {
  width: 100%;
  height: 800px;
  text-align: center;
  background: url(../imgs/pexels-photo-395132.jpeg);
}

.text_field_search {
  color: #fff;
}

.text_field_search:focus,
.text_field_search:active {
  outline: none !important;
}
.search_row h1 {
  padding-top: 15%;
  font-weight: bold;
  font-size: xx-large;
}

.search_bar {
  position: fixed;
  margin-top: 2.5%;
  z-index: 5000;
  direction: rtl;
  width: 102%;
  background-color: #262626;
  margin-right: -5.5%;
  padding-bottom: 1px;
}

.search_bar .search_bar_block1 {
  text-align: left;
}

.btn_search {
  height: 21px !important;
}
.search_bar .search_bar_block1 .icons {
  margin-top: 3px;
}
.search_bar .search_bar_block1 input {
  width: 65%;
  margin-top: 5px;
  background-color: transparent;
  border: 0px;
  margin-right: 10px;
}

.search_bar .search_bar_block2 {
  text-align: right;
}

.search_bar_block2 .btn {
  padding: 0px 25px 1px 25px !important;
  border-radius: 7px;
  margin-bottom: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
  height: 25px !important;
}

.search_bar_block2 .btn:focus {
  box-shadow: none !important;
}

@media only screen and (min-width: 100px) and (max-width: 480px) {
  .search_bar .search_bar_block2 {
    text-align: center;
  }
  .search_bar {
    margin-top: 12.7%;
  }

  .about .special {
    margin-right: 0 !important;
  }

  .about p {
    text-align: center;
  }

  .about ul li img {
    margin-left: 0px;
  }
  .about ul li {
    font-size: small !important;
  }

  .about h1 {
    margin-right: 12% !important;
  }

  .contact {
    margin-top: 25%;
  }

  .contact_row .special {
    width: 100%;
  }

  .contact_box {
    margin-bottom: 1%;
  }

  .about_box .fa-home {
    width: 20%;
  }
  .team_row .special {
    width: 100% !important;
  }
  .team {
    margin-top: 15%;
  }
  .search_bar {
    margin-top: 11.7%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 922px) {
  .search_bar {
    margin-top: 7%;
  }

  .search_row {
    height: 65vh;
  }

  .about .special {
    margin-right: 0 !important;
  }
  .about p {
    text-align: center;
  }
  .about ul li img {
    margin-left: 0px;
  }
  .about ul li {
    font-size: small !important;
  }

  .about h1 {
    margin-right: 6% !important;
  }

  .contact {
    margin-top: 25%;
  }

  .contact_row .special {
    width: 100%;
  }

  .contact_box {
    margin-bottom: 1%;
  }

  .about_box .fa-home {
    width: 20%;
  }
  .team_row .special {
    width: 100% !important;
  }

  .team {
    margin-top: 15%;
  }

  .search_bar {
    margin-right: -2.5%;
  }
}

/* The End */

.videos_box iframe {
  width: 100%;
  border: 2px solid #000;
  border-radius: 5px;
}

.box_Live iframe {
  margin-top: 3%;
}

.controls_search {
  text-align: center !important;
}
.controls_search .filter {
  font-size: large !important;
}

.overlay {
  background-color: rgba(251, 251, 251, 0.17);
  background-image: url(../imgs/youtubelogo.png);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 140px;
  font-size: 1.8em;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay_special {
  background-color: rgba(251, 251, 251, 0.29);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACCCAYAAAAt3qYGAAAACXBIW…NJSMGJJKTgRBJScCIJKTiRhBScSEIKTiQhBSeSkIITSej/AVYt3KIQpl8LAAAAAElFTkSuQmCC);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 15px;
  width: 90%;
  height: 100%;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 140px;

  background-size: cover;
  background-repeat: no-repeat;
}
.hide_arrow {
  display: none !important;
}

.footer_icons img:hover {
  width: 5%;
  cursor: pointer;
  transition: 0.5s ease;
}

.ul_icons .search_icon_ a img:hover {
  width: 42% !important;
}

.ul_icons .instgram_icon_ a img:hover {
  width: 109% !important;
}

.box_Live_row:hover {
  background-color: #10101047;
  cursor: pointer;
  transition: 0.5s ease;
}

.content_second_section_2 .box_Live_row:hover p {
  font-size: 11px !important;
  transition: 0.6s ease;
}

.Subjects_box:focus {
  outline: none !important;
}

.sb-facebook,
.sb-twitter {
  width: 25px;
  height: 20px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.svg-inline--fa {
  width: auto;
}

.team_detail .member_img_col {
  text-align: center;
}
.team_detail_row {
  padding-bottom: 4%;
}
.team_detail .special {
  margin-top: 12%;
  margin-left: -10%;
}

.member_img {
  width: 30%;
  border-radius: 50%;
  height: 200px;
  border: 2px solid #fff;
  margin: auto;
}
.member_detail_col {
  margin-top: auto;
  cursor: default;
}

@media only screen and (min-width: 660px) and (max-width: 922px) {
  .member_img {
    width: 30%;
  }

  .member_detail_col {
    cursor: default;
    text-align: center;
    margin-top: 3%;
  }
  .overlay_special {
    background-color: rgba(251, 251, 251, 0.29);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACCCAYAAAAt3qYGAAAACXBIW…NJSMGJJKTgRBJScCIJKTiRhBScSEIKTiQhBSeSkIITSej/AVYt3KIQpl8LAAAAAElFTkSuQmCC);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 15px;
    width: 88%;
    height: 100%;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 140px;
    /* font-size: 1.8em; */
    /* border-radius: 10px; */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .member_img {
    width: 75%;
    margin-top: 5%;
  }

  .member_detail_col {
    cursor: default;
    text-align: center;
    margin-top: 3%;
  }
  .overlay_special {
    background-color: rgba(251, 251, 251, 0.29);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACCCAYAAAAt3qYGAAAACXBIW…NJSMGJJKTgRBJScCIJKTiRhBScSEIKTiQhBSeSkIITSej/AVYt3KIQpl8LAAAAAElFTkSuQmCC);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 15px;
    width: 93%;
    height: 100%;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 140px;
    /* font-size: 1.8em; */
    /* border-radius: 10px; */
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.box_Live_row_selected {
  background-color: #262626 !important;
}

.search_page {
  background-image: url(../imgs/earth.jpg);
}

.latestnews_tag {
  text-align: center;

  text-decoration: none;
}

.Live_tag {
  width: max-content;
  margin-left: 50%;
  text-decoration: none;
  margin-bottom: 0px;
  display: inline;
  font-size: 1.1rem;
  border-right: 6px solid #fff;
  padding-right: 10px;
}

.latestnews_tag:hover {
  cursor: pointer;
  color: #d23b3b;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}

.latestnews_tag:focus {
  outline: none !important;
}
.Live_tag:focus {
  outline: none !important;
}

.Live_tag:hover {
  cursor: pointer;
  color: #d23b3b;
  transition: 0.2s ease-in-out;
  font-weight: bold;
}
.overlay_special {
  background-color: rgba(251, 251, 251, 0.29);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACCCAYAAAAt3qYGAAAACXBIW…NJSMGJJKTgRBJScCIJKTiRhBScSEIKTiQhBSeSkIITSej/AVYt3KIQpl8LAAAAAElFTkSuQmCC);
  position: absolute;
  top: 4.4%;
  bottom: 0px;
  left: 0px;
  right: 0.9%;
  width: 107.1%;
  height: 100%;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 100px) and (max-width: 992px) {
  .latestnews_tag {
    text-align: none;
    margin-right: 25%;
  }

  .Live_tag {
    text-align: center;
    margin-right: 20%;
    margin-left: 0;
    width: auto;
  }

  .overlay_special {
    background-color: rgba(251, 251, 251, 0.29);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAACCCAYAAAAt3qYGAAAACXBIW…NJSMGJJKTgRBJScCIJKTiRhBScSEIKTiQhBSeSkIITSej/AVYt3KIQpl8LAAAAAElFTkSuQmCC);
    position: absolute;
    top: 2.4%;
    bottom: 0px;
    left: 0px;
    right: -0.1%;
    width: 107.1%;
    height: 100%;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.box .new3 {
  position: relative;
}

.Live_tag_col {
  width: 171% !important;
}

.last_tag_col {
  width: 140% !important;
}

@media only screen and (min-width: 1900px) and (max-width: 2000px) {
  .videos .special {
    width: 115%;
    margin-left: -9%;
    text-align: end;
  }
  .team_detail .special {
    margin-top: 12%;
    margin-left: -8%;
  }
  .team_row .special {
    width: 116%;
  }
  .Program_Schedule .controls {
    direction: rtl;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 13.9%;
  }

  .live_broadcast {
    margin-left: -8%;
    margin-right: 10.5%;
  }

  .carousel_sports {
    width: 119% !important;
  }

  .OurProgram .new_img2 {
    width: 90%;
    height: 318px;
  }
  .navbar {
    padding-right: 13.5%;
  }

  .box_Live_row .new_img2 {
    width: 100%;
    height: inherit;
    float: right;
  }

  .overlay {
    background-color: #fff0;
    left: 33px;
    width: 80%;
  }

  .Program_Schedule2 .special {
    width: 115%;
    margin-left: -9%;
  }

  .search_bar {
    margin-top: 1.5%;
  }
  .mixtup_container_rows {
    width: 116%;
    margin-left: -9%;
  }
}
